.wklc {
  color: #FFFFFF;
  display: flex;
  justify-content: center; }
  .wklc-force-hidden {
    display: none !important; }
  .wklc-lesson-count {
    border-radius: 3px !important; }
  .wklc-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; }
  .wklc-item {
    align-items: center;
    background-color: #000000;
    box-shadow: 3px 3px 0 #E1E1E1;
    display: flex;
    min-height: 2em;
    min-width: 2.5em;
    padding: 0 0.5em;
    justify-content: center; }
    .wklc-item > span:first-child {
      margin-right: 0.3em; }
  .wklc-right {
    display: flex;
    margin-left: 0.5em;
    width: 12em; }
    .wklc-right div, .wklc-right button {
      box-sizing: border-box;
      text-align: center; }
  .wklc-score {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 8em; }
    .wklc-score > span:first-child {
      text-align: left;
      width: 50%; }
  .wklc-btn-settings {
    border: 0;
    color: inherit; }
  .wklc-allowed-lessons {
    display: inline-block;
    padding: 0 1em;
    height: 3em;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 3px;
    line-height: 3em; }
    .wklc-allowed-lessons.disabled {
      color: darkred; }
  .wklc .wklc-apprentice1 {
    background-color: #DD0093; }
  .wklc .wklc-apprentice2 {
    background-color: #C80B96; }
  .wklc .wklc-apprentice3 {
    background-color: #B31799; }
  .wklc .wklc-apprentice4 {
    background-color: #9D229B; }
  .wklc .wklc-guru1 {
    background-color: #882D9E; }
  .wklc .wklc-guru2 {
    background-color: #593DBD; }
  .wklc .wklc-master {
    background-color: #294DDB; }
  .wklc .wklc-enlightened {
    background-color: #0093DD; }
