// ==UserScript==
// @name         WaniKani Lesson Cap (Dev)
// @namespace    https://github.com/valeth
// @version      <%= script_version %>
// @description  Limits the amount of lessons you can do with your current review queue.
// @author       valeth
// @match        https://www.wanikani.com/dashboard
// @match        https://www.wanikani.com/lesson
// @match        https://www.wanikani.com/lesson/session
// @grant        none
// @run-at       document-end
// @license      MIT
// @require      <%= "file://#{File.absolute_path("compiled/main-dev.user.js", __dir__)}" %>
// ==/UserScript==

(function() {
    'use strict';
    console.log("[WKLC] Running in debug mode");
})();