// ==UserScript==
// @name         WaniKani Lesson Cap
// @namespace    https://github.com/valeth
// @version      <%= script_version %>
// @description  Limits the amount of lessons you can do with your current review queue.
// @author       valeth
// @match        https://www.wanikani.com/dashboard
// @match        https://www.wanikani.com/lesson
// @match        https://www.wanikani.com/lesson/session
// @grant        none
// @run-at       document-end
// @license      MIT
// ==/UserScript==

/* jshint ignore:start */

<%= js_debugging %>
<%= javascript %>

/* jshint ignore:end */
