$levels: (
    "apprentice1": #DD0093,
    "apprentice2": #C80B96,
    "apprentice3": #B31799,
    "apprentice4": #9D229B,
    "guru1":       #882D9E,
    "guru2":       #593DBD,
    "master":      #294DDB,
    "enlightened": #0093DD
);

$text-color: #FFFFFF;
$background-color: #000000;
$shadow-color: #E1E1E1;
$disabled-color: darkred;

.wklc {
    color: $text-color;
    display: flex;
    justify-content: center;

    &-force-hidden {
        display: none !important;
    }

    &-lesson-count {
        border-radius: 3px !important;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    &-item {
        align-items: center;
        background-color: $background-color;
        box-shadow: 3px 3px 0 $shadow-color;
        display: flex;
        min-height: 2em;
        min-width: 2.5em;
        padding: 0 0.5em;
        justify-content: center;

        > span:first-child {
            margin-right: 0.3em;
        }
    }

    &-right {
        display: flex;
        margin-left: 0.5em;
        width: 12em;

        div, button {
            box-sizing: border-box;
            text-align: center;
        }
    }

    &-score {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 8em;

        > span:first-child {
            text-align: left;
            width: 50%;
        }
    }

    &-btn-settings {
        border: 0;
        color: inherit;
    }

    &-allowed-lessons {
        display: inline-block;
        padding: 0 1em;
        height: 3em;
        background-color: $background-color;
        color: $text-color;
        border-radius: 3px;
        line-height: 3em;

        &.disabled {
            color: $disabled-color;
        }
    }

    @each $lvl in apprentice1, apprentice2, apprentice3, apprentice4, guru1, guru2, master, enlightened {
        .wklc-#{$lvl} {
            background-color: map-get($levels, $lvl);
        }
    }
}
